<% provide(:title, 'All products') %>
<h1>All products</h1>
<div class="container">


<% will_paginate %>

<ul class="users">
  <div class="col-md-8">


  <% @products.each do |product| %>

    <li>
      <%= link_to product.name, product %> <br>
        $<%= link_to product.price, product %>
        <%= link_to "add a review", new_review_path(product_id: product.id)  %>

      <% if current_user.admin? %>


      <p class="admin-option">
        <%= link_to "edit", edit_product_path(product.id) %> |
        <%= link_to "delete", product, method: :delete,
                                     data: { confirm: "You sure?" } %>
      </p>
      <!-- </div> -->
      <% end %>
    </li>
  <% end %>
</ul>

<% will_paginate %>
</div>
