<li id="reviews-<%= reviews.id %>">
  <span class="user"><%= link_to reviews.user.name, reviews.user %></span>
  <span class="content">
    <%= reviews.content %>
    <%= image_tag reviews.picture.url if reviews.picture? %>
  </span>

  <span class="timestamp">
    Posted <%= time_ago_in_words(reviews.created_at) %> ago.
    <% if current_user?(reviews.user) %>
      <%= link_to "delete", reviews, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>
